
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section class="py-lg-13 pb-10 pt-0" data-animated-id="1">
        <div class="container container-xl">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hover-shine hover-zoom-in fadeInUp animated" data-animate="fadeInUp">
                        <img src="~/images/1K1jzbw.jpg" alt="about us">
                    </div>
                </div>
                <div class="col-lg-6 px-xxl-12 mt-lg-0 mt-8">
                    <h1 class="fs-40 lh-13 mb-5 fadeInUp animated" data-animate="fadeInUp">Về Two hand Clothes</h1>
                    <p class="mb-4 fadeInUp animated" data-animate="fadeInUp">
                    Two Hand Clothes là một cửa hàng bán đồ cũ, với một bộ sưu tập đa dạng và phong phú của những món đồ secondhand độc đáo và hấp dẫn. Tại Two Hand Clothes, khách hàng có thể tìm thấy những món đồ từ quần áo, giày dép, phụ kiện, đồ gia dụng, đồ nội thất và nhiều loại đồ dùng khác, tất cả đều được chọn lọc cẩn thận để đảm bảo chất lượng tốt nhất.

                    Two Hand Clothes không chỉ là nơi để mua sắm, mà còn là một nơi để khám phá và tìm kiếm những món đồ độc Chúng tôi luôn đặt chất lượng sản phẩm lên hàng đầu và đặc biệt. Với phương châm "Tái sử dụng - Tiết kiệm - Bền vững", Two Hand Clothes đang góp phần giúp giảm thiểu lượng rác thải và bảo vệ môi trường. Ngoài ra, việc sử dụng đồ secondhand còn giúp khách hàng tiết kiệm tài chính và có cơ hội sở hữu những món đồ độc đáo, mang đến phong cách riêng biệt và thể hiện tính cá nhân.
                </p>
                    <p class="mb-6 mb-xl-10 mb-xxl-11 fadeInUp animated" data-animate="fadeInUp">
                    Với không gian thân thiện, nhân viên nhiệt tình và dịch vụ chuyên nghiệp, Two Hand Clothes là điểm đến lý tưởng cho những ai đam mê đồ cũ, yêu thích phong cách retro, vintage hay đơn giản chỉ là muốn tìm kiếm những món đồ độc đáo và đặc biệt. Hãy đến với Two Hand Clothes để khám phá và trải nghiệm những điều thú vị từ thế giới đồ cũ!
                </p>
                    <div class="row">
                        <div class="col-md-6 fadeInUp animated" data-animate="fadeInUp">
                            <h4 class="fs-20 font-weight-600 mb-3">Nhắn tin</h4>
                        <p class="mb-2 mb-md-4">Gửi tin nhắn cho chúng tôi và chúng tôi sẽ trả lời khi có sẵn..</p>
                        <p class="fs-16 text-primary font-weight-bold mb-0">+84 904 797 520</p>
                        </div>
                        <div class="col-md-6 pt-6 pt-md-0 fadeInUp animated" data-animate="fadeInUp">
                            <h4 class="fs-20 font-weight-600 mb-3">Store Hours</h4>
                            <ul class="list-unstyled mb-0">
                                <li><span class="text-secondary d-inline-block w-115">Mon – Fri:</span> 08:30 – 20:00</li>
                                <li><span class="text-secondary d-inline-block w-115">Sat &amp; Sun:</span> 09:30 – 21:30</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="pt-lg-13 pt-10 pb-lg-12 pb-11" data-animated-id="4">
        <div class="container container-xxl text-center">
        <h2 class="fs-34 mx-auto mb-6 fadeInUp animated" style="max-width: 620px" data-animate="fadeInUp">Chúng tôi luôn đặt chất lượng sản phẩm lên hàng đầu</h2>
        <div class=" my-15">
            <div class="row">
                <div class="col-12 col-lg-6 mb-6 mb-lg-0">
                    <div class="hover-shine hover-zoom-in fadeInUp animated" data-animate="fadeInUp">
                        <img class="w-100" src="~/images/new/tat-tan-tat-nhung-dieu-ve-do-2hand-ma-ban-chua-biet.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="hover-shine hover-zoom-in fadeInUp animated" data-animate="fadeInUp">
                        <img class="w-100" height="460" src="~/images/new/nhung-tips-phoi-do-2hand-cuc-ngau.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
    </section>